<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">  
</head>
<body>

    <div class="container w-75 mt-5">
        <form method="post" action="/Add_Student_Profile">
                    <!-- Student_Details  -->
                    <label for="exampleInput" class="form-label fs-3">Student_Details</label>
                    <div class="mb-3 d-flex justify-content-start">
                        <div > 
                            <label for="exampleInput" class="form-label">Batch</label>
                            <input type="number" name="Batch" class="form-control" id="exampleInput">
                        </div>
                        <div class="mx-5 w-50" >
                            <label for="exampleInput" class="form-label">Student Name</label>
                            <input type="text" name="Student_Name" class="form-control" id="exampleInput">
                        </div>
                    </div>

                    <div class="mb-3 d-flex justify-content-start">
                        <div > 
                            <label for="exampleInput" class="form-label">College Name</label>
                            <input type="text" name="College" class="form-control" id="exampleInput">
                        </div>
                        <div class="mx-5 w-50" >
                        <label for="exampleInput" class="form-label">Student Status</label>
                        <input type="text" name="Status" placeholder="Placed or Not_Placed" class="form-control" id="exampleInput">
                        </div>
                </div>
                    
                <!-- Course Details -->
                <label for="exampleInput" class="form-label fs-3">Course Score</label>
                    <div class="mb-3 d-flex justify-content-start">
                        <div > 
                            <label for="exampleInput" class="form-label">DSA_Final_Score</label>
                            <input type="number" name="DSA_Final_Score" class="form-control" id="exampleInput">
                        </div>
                        <div class="mx-5 w-50" >
                            <label for="exampleInput" class="form-label">WebD_final_Score</label>
                            <input type="number" name="WebD_final_Score" class="form-control" id="exampleInput">
                        </div>
                    </div>

                    <div class="mb-3 d-flex justify-content-start">
                        <div > 
                            <label for="exampleInput" class="form-label">React_Final_Score</label>
                            <input type="number" name="React_Final_Score" class="form-control" id="exampleInput">
                        </div>
                </div>

                <!-- interview Details
                <label for="exampleInput" class="form-label fs-3">Interviews_Details</label>
                <div class="mb-3 d-flex justify-content-start">
                        <div > 
                        <label for="exampleInput" class="form-label">Company_Name</label>
                        <input type="text" name="Company_Name" class="form-control" id="exampleInput">
                        </div>
                        <div class="mx-5 w-50" >
                        <label for="exampleInput" class="form-label">Date</label>
                        <input type="Date" name="Date" placeholder="Date Of the interview" class="form-control" id="exampleInput">
                        </div>
                </div>

                <div class="mb-3 d-flex justify-content-start">
                    <div > 
                        <label for="exampleInput" class="form-label">Results_of_Interview</label>
                        <input type="text" name="Results" class="form-control" id="exampleInput">
                    </div>
                </div> -->
            <!-- Submit_button -->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>
